html, body, #root {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


table {
    text-align: left;
    vertical-align: top;
    font-size: 10px;
}

table th {
    vertical-align: top;
    background-color: #f0f0f0;
    padding: 0.2em;
}

h1 {
    font-size: 16px;
    padding: 1em;
    margin: 0;
    text-decoration: underline;
    background-color: #ADD8E6;
    max-height: 56px;
}

h2 {
    font-size: 14px;
}